
Martian_Robots/.vs/Martian_Robots/DesignTimeBuild/.dtbcache.v2
Martian_Robots/.vs/Martian_Robots/v16/.suo
Martian_Robots/.vs/Martian_Robots/v16/.suo
Martian_Robots/Martian_Robots/bin/Debug/net5.0/Martian_Robots.dll
Martian_Robots/Martian_Robots/bin/Debug/net5.0/Martian_Robots.pdb
*.dll
*.pdb
